.place__title {
  margin: 0;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  grid-area: left-top;
}

@media (max-width: 768px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media (max-width: 700px) {
  .place__title {
    align-self: flex-start;
    margin-left: 24px;
  }
}

@media (max-width: 425px) {
  .place__title {
    margin-left: 16px;
    font-size: 32px;
    line-height: 35px;
  }
}