.place__paragraphs {
  grid-area: right-bottom;
  margin: 0 auto;
}

@media (max-width: 700px) {
  .place__paragraphs {
    width: calc(100% - 48px);
  }
}

@media (max-width: 425px) {
  .place__paragraphs {
    width: calc(100% - 32px);
  }
}