.cover {
  width: calc(100% - 96px);
  margin: 0 auto;
}

@media (max-width: 1124px) {
  .cover {
    width: 100%;
    /*width: calc(100% - 48px);/*/
  }
}

@media (max-width: 1025px) {
  .cover {
    width: 100%;
  }
}