  .photos__list {
    margin: 92px auto 92px;
    max-width: calc(100% - 96px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 16px;
    list-style: none;
    padding: 0;
  }
  
  @media (max-width: 1024px) {
    .photos__list {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(4, 1fr);
      gap: 14px;
    }
  }
  
  @media (max-width: 840px) {
    .photos__list {
      max-width: calc(100% - 48px);
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(6, 1fr);
      gap: 16px;
      margin: 88px auto 88px;
    }
  }
  
  @media (max-width: 600px) {
    .photos__list {
      margin: 72px auto 72px;
    }
  }
  
  @media (max-width: 425px) {
    .photos__list {
      max-width: calc(100% - 32px);
      grid-template-columns: 1fr;
      grid-template-rows: repeat(auto, 1fr);
      gap: 12px;
      margin: 64px auto 64px;
    }
  }