.cover__background {
  text-decoration: none;
  color: white;
  background-image: url('../../../images/cover__background.png');
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 740px;
}

.cover__background::after {
  content: '';
  display: block;
  background-color: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}

.cover__background:hover::after {
  opacity: 0.8;
}

@media (max-width: 1124px) {
  .cover__background {
    height: 680px;
  }
}

@media (max-width: 1024px) {
  .cover__background {
    height: 640px;
  }
}

@media (max-width: 900px) {
  .cover__background {
    height: 540px;
  }
}

@media (max-width: 768px) {
  .cover__background {
    height: 480px;
  }
}

@media (max-width: 600px) {
  .cover__background {
    height: 400px;
  }
}

@media (max-width: 425px) {
  .cover__background {
    height: 300px;
  }
}

@media (max-width: 425px) {
  .cover__background {
    height: 200px;
  }
}