.cover__title {
  margin: 0;
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  z-index: 1;
}

@media (max-width: 660px) {
  .cover__title {
    font-size: 46px;
    line-height: 50px;
  }
}

@media (max-width: 425px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}