.place {
  width: 984px;
  margin: 0 auto;
  display: grid;
  grid-template-areas: "left-top right-top" "left-bottom right-bottom";
  grid-template-columns: 1fr minmax(min-content, max-content);
  grid-template-rows: repeat(2, minmax(min-content, max-content));
  column-gap: 40px;
  row-gap: 48px;
}